[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/badwolf"]
	path = .vim/bundle/badwolf
	url = git://github.com/sjl/badwolf.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/pydoc.vim"]
	path = .vim/pydoc.vim
	url = https://github.com/vim-scripts/pydoc.vim.git
[submodule ".vim/bundle/threesome.vim"]
	path = .vim/bundle/threesome.vim
	url = https://github.com/sjl/threesome.vim.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
    ignore = dirty
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-racket"]
	path = .vim/bundle/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-speeddating"]
	path = .vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
    ignore = dirty
[submodule ".vim/bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
    ignore = dirty
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/TagHighlight"]
	path = .vim/bundle/TagHighlight
	url = https://github.com/abudden/TagHighlight.git
[submodule ".vim/bundle/change-inside-surroundings.vim"]
	path = .vim/bundle/change-inside-surroundings.vim
	url = git://github.com/briandoll/change-inside-surroundings.vim.git
[submodule ".vim/bundle/clam.vim"]
	path = .vim/bundle/clam.vim
	url = https://github.com/sjl/clam.vim.git
    ignore = untracked
[submodule ".vim/bundle/vim-scratch"]
	path = .vim/bundle/vim-scratch
	url = https://github.com/duff/vim-scratch.git
[submodule ".vim/bundle/vim-smartinput"]
	path = .vim/bundle/vim-smartinput
	url = https://github.com/kana/vim-smartinput.git
    ignore = untracked
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
