[user]
	name = Andy Freeland
	email = andy@andyfreeland.net
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    wut = diff --staged --word-diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    s = status -sb
    d = diff --word-diff

[core]
	excludesfile = ~/.gitglobalignore
	autocrlf = input
    editor = vim

[color]
	status = auto
	branch = auto
	diff = auto
    interactive = auto

[push]
    default = upstream

[branch "master"]
	rebase = true

[browser "gitscm"]
	cmd = /bin/sh -c 'firefox http://git-scm.com/docs/$(basename $1 .html)' --
[help]
	browser = gitscm
[github]
	user = rouge8
