# TODO: Keep in sync with .ripgreprc.symlink
*.fish.symlink linguist-language=fish
*.bash*.symlink linguist-language=bash
.profile.symlink linguist-language=sh
*.vim*.symlink linguist-language=vim
*.py.symlink linguist-language=python
*.yml.symlink linguist-language=yaml
*.yaml.symlink linguist-language=yaml
*.toml.symlink linguist-language=toml
.gitconfig*.symlink linguist-language=gitconfig
