---

ci:
  skip:
    - fish_indent

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Filesystem
      - id: check-case-conflict
      - id: check-symlinks
      # Whitespace
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      # Syntax
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-json
        types:
          - text
        files: >
          (?x)(
            \.json
            |\.json\.symlink
          )
      - id: check-toml
        types:
          - text
        files: >
          (?x)(
            \.toml
            |\.toml\.symlink
          )
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-format
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          - --strict
        types:
          - text
        files: >
          (?x)(
            \.yml
            |\.yml\.symlink
            |\.yaml
            |\.yaml\.symlink
            |^.config/yamllint/config.symlink$
          )
        exclude: ^.config/gh/config.yml.symlink$
  - repo: local
    hooks:
      - id: fish_indent
        name: fish_indent
        language: system
        entry: fish_indent
        args: [-w]
        files: .+\.fish
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.0
    hooks:
      - id: tombi-format
        args:
          - --offline
        files: >
          (?x)(
            \.toml
            |\.toml\.symlink
          )
      - id: tombi-lint
        args:
          - --offline
        files: >
          (?x)(
            \.toml
            |\.toml\.symlink
          )
