
#dashboard .news {
    display: none;
}

#dashboard .octofication {
    width: 100%;
    margin: 0;
}

#dashboard #watched_repos {
    float: left;
    clear: left;
}

#dashboard .github-jobs-promotion {
    display: none;
}
