---

name: CI

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install the latest fish
        run: |
          sudo add-apt-repository ppa:fish-shell/release-3
          sudo apt-get update
          sudo apt-get install -y fish

      - uses: actions/setup-python@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.x
      - uses: pre-commit/action@v2.0.0
