---

name: CI

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install the latest fish
        run: |
          sudo add-apt-repository ppa:fish-shell/release-4
          sudo apt-get update
          sudo apt-get install -y fish

      - uses: actions/setup-python@v2
      - uses: j178/prek-action@v1
